@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  :root {
    color-scheme: light only !important;
  }

  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family);
  }

  mark {
    @apply bg-accent text-accent-content;
  }

  /** Remove default styles from input[type=number] */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Disable scroll once drawer/modal is openned */
  body:has(.drawer-toggle:checked),
  body:has(.modal-toggle:checked) {
    overflow: hidden;
    height: 100vh;
  }
}

@layer components {
  .features {
    @apply flex items-center justify-center gap-6 flex-wrap;
    @apply relative max-w-[1280px] mx-auto;
  }

  .feature-card {
    @apply w-[380px] max-w-[380px] lg:h-[380px] bg-[#F4F4F4] rounded-3xl;
    @apply border-l border-transparent duration-200 whitespace-pre-line text-center;
    @apply flex flex-col items-center justify-start gap-8 py-10 px-8 lg:px-12;
  }

  .collapse-plus>.collapse-title.menu:after {
    content: url("https://ozksgdmyrqcxcwhnbepg.supabase.co/storage/v1/object/public/assets/9166/a1cc43ae-3e77-4973-87a9-7e1896ea1041");
    transition-duration: 200ms;
  }

  .collapse-plus:not(.collapse-close)>input[type="checkbox"]:checked~.collapse-title.menu:after {
    content: url("https://ozksgdmyrqcxcwhnbepg.supabase.co/storage/v1/object/public/assets/9166/a1cc43ae-3e77-4973-87a9-7e1896ea1041");
    transform: rotate(180deg);
    position: absolute;
    top: 30px;
    right: 5px;
  }

  .zoom-container {
    position: relative;
    overflow: hidden;
  }

  .zoom-container img {
    transition: transform 0.1s ease;
    transform-origin: center center;
  }

  .institutional ul,
  .institutional li {
    list-style: inherit;
    margin-left: 1rem !important;
  }

  .btn {
    box-shadow: none;
  }
}

.group:disabled .group-disabled\:animate-progress {
  animation: progress-frame ease normal;
}

@keyframes progress-frame {
  0% {
    --dot-progress: 0%;
  }

  to {
    --dot-progress: 100%;
  }
}